{
    margin:0;
    padding:0;
    
}
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@400;500&display=swap');
/* common style */
body{
    font-family: 'Poppins', sans-serif;
}
/* header */
header{
    display: flex;
    justify-content: center;
}
.container{
    background-color: black;
    width: 1320px;
    height: 550px;
    border-radius: 40px;
    margin-top: 50px;
    margin-left: 40px;
}
h1{
    color:white;
    
}

#title{
    font-size: 40px;
    padding-top: 40px;
}
p{
    color:white;
}
.divided{
    display: flex;
}
.head{
    width: 50%;
    padding-left: 5%;
}
.head img{
    width: 82.6%;
    margin-top: 30px;
    margin-left: 50px;
}
.link{
    text-decoration: none;
    background-color: brown;
    color: azure;
    padding: 10px 40px;
}
.ball img{
    width: 100px;
    margin-left: 40px;
}
#football{
    position: relative;
    right:1100px;
    bottom: -400px;
    transition: transform 1s ease-out;
    
}
#football:hover{
    transform: translate(500px);
}
/* footer */
.footer-head{
    padding-top: 40px;
    padding-bottom: 30px;
    
}
footer{
    background-color: black;
    text-align: center;
}
.footer-paragraph{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    padding-top: 40px;
    padding-bottom: 30px;
    
    
}
hr{
    opacity: 0.25;
    max-width: 80%;
}
.footer-link{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 60px;
}
.footer-link i{
    color: brown;
    font-size: 30px;
    
}

/* middle styles */
.Button-1 {
    background-color: brown
    width: 187px;
    height: 30px;
    padding: 16px 25px;
    border-radius: 5px;
    margin-top: 30px;
    color: white;
    display: inline-block;
    font-size: 20px;
    text-align: center;
}

.menu-section {
    height: 312px;
    width: 312px;
    background-color:black;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    border-radius: 5px;
    margin-top: 130px;

}

.menu-section a {

    text-decoration: none;
    text-align: center;
    background-color: white;
    padding: 17px 39px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
}

.blog-button2 {
    color: #161616;
}

#Blog-button {
    background-color: brown;
    color: white;
}


.transfer{
    margin-bottom: 24px;
}

.transfer-image {
    width: 312px;
    height: 175px;
}

.transfer-head {
    width: 100px;
    height: 32px;
    border: 1px solid black;
    font-size: 16px;
    padding-top: 6px;
    text-align: center;
}

.transfer-description {
    font-size: 18px;
    font-weight: 600px;
    color: black;
}

.fa-clock {
    margin-right: 10px;
    
}

.fa-message{
    margin-left: 20px;
    margin-right: 10px;
}

.main-section {
    display: flex;
    width: 1200px;
    margin-left: 20px;
    padding-left:100px;
    margin: 1em;
    margin-bottom: 120px;
}

.tranfers{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 24px;
    margin-left: 24px;
    margin-top: 130px;
}
/* Media queries */
/* tablate device */
@media screen and (max-width:768px) {
    .footer{
        width: 100%;
        max-width: 600px;
    }
}
@media screen and (max-width:480px){
    .footer{
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer-paragraph{
        flex-direction: column;
    }
    
}
