{
    margin:0;
    padding:0;
    
}
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@400;500&display=swap');
/* common style */
body{
    font-family: 'Poppins', sans-serif;
}
/* header */
header{
    display: flex;
    justify-content: center;
}
.container{
    background-color: black;
    width: 1200px;
    height: 500px;
    border-radius: 40px;
    margin-top: 50px;
}
h1{
    color:white;
    
}

#title{
    font-size: 40px;
    padding-top: 40px;
}
p{
    color:white;
}
.divided{
    display: flex;
}
.head{
    width: 50%;
    padding-left: 5%;
}
.head img{
    width: 82.6%;
    margin-top: 30px;
    margin-left: 50px;
}
.link{
    text-decoration: none;
    background-color: brown;
    color: azure;
    padding: 10px 40px;
}
/* footer */
.footer-head{
    padding-top: 40px;
    padding-bottom: 30px;
    
}
footer{
    background-color: black;
    text-align: center;
}
.footer-paragraph{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    padding-top: 40px;
    padding-bottom: 30px;
    
    
}
hr{
    opacity: 0.25;
    max-width: 80%;
}
.footer-link{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 60px;
}
.footer-link i{
    color: brown;
    font-size: 30px;
    
}
